.elementor-8 .elementor-element.elementor-element-12896ff:not(.elementor-motion-effects-element-type-background),
.elementor-8 .elementor-element.elementor-element-12896ff>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #DA1F26;
}

.elementor-8 .elementor-element.elementor-element-12896ff {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 100;
}

.elementor-8 .elementor-element.elementor-element-12896ff>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8 .elementor-element.elementor-element-2a48e74>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(22px/2);
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(22px/2);
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(22px/2);
    margin-left: calc(22px/2);
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-22px/2);
    margin-left: calc(-22px/2);
}

body.rtl .elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-22px/2);
}

body:not(.rtl) .elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-22px/2);
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-icon i {
    color: #FFFFFF;
    font-size: 14px;
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    width: 14px;
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #000000;
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #000000;
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-text {
    color: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #000000;
}

.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-item,
.elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-item a {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-8 .elementor-element.elementor-element-6159892 .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: #000000;
}

.elementor-8 .elementor-element.elementor-element-6159892 .elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-6159892 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #6E6E70;
}

.elementor-8 .elementor-element.elementor-element-6159892 .elementor-button:hover svg,
.elementor-8 .elementor-element.elementor-element-6159892 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-55ce26f .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: #000000;
}

.elementor-8 .elementor-element.elementor-element-55ce26f .elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-55ce26f .elementor-button:focus {
    color: #FFFFFF;
    background-color: #6E6E70;
}

.elementor-8 .elementor-element.elementor-element-55ce26f .elementor-button:hover svg,
.elementor-8 .elementor-element.elementor-element-55ce26f .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(22px/2);
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(22px/2);
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(22px/2);
    margin-left: calc(22px/2);
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-22px/2);
    margin-left: calc(-22px/2);
}

body.rtl .elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-22px/2);
}

body:not(.rtl) .elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-22px/2);
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-icon i {
    color: #FFFFFF;
    font-size: 20px;
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    width: 20px;
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #000000;
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #000000;
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-text {
    color: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #000000;
}

.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-item,
.elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-item a {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-8 .elementor-element.elementor-element-82bd2e6 .elementor-spacer-inner {
    height: 40px;
}

.elementor-8 .elementor-element.elementor-element-641ce01:not(.elementor-motion-effects-element-type-background),
.elementor-8 .elementor-element.elementor-element-641ce01>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #DA1F26;
}

.elementor-8 .elementor-element.elementor-element-641ce01 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 100;
}

.elementor-8 .elementor-element.elementor-element-641ce01>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8 .elementor-element.elementor-element-a8bd26d>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(22px/2);
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(22px/2);
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(22px/2);
    margin-left: calc(22px/2);
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-22px/2);
    margin-left: calc(-22px/2);
}

body.rtl .elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-22px/2);
}

body:not(.rtl) .elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-22px/2);
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-icon i {
    color: #FFFFFF;
    font-size: 14px;
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    width: 14px;
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #000000;
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #000000;
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-text {
    color: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #000000;
}

.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-item,
.elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-item a {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-8 .elementor-element.elementor-element-3ab7b4b .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #000000;
}

.elementor-8 .elementor-element.elementor-element-3ab7b4b .elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-3ab7b4b .elementor-button:focus {
    color: #FFFFFF;
    background-color: #6E6E70;
}

.elementor-8 .elementor-element.elementor-element-3ab7b4b .elementor-button:hover svg,
.elementor-8 .elementor-element.elementor-element-3ab7b4b .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-cefeef4 .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #000000;
}

.elementor-8 .elementor-element.elementor-element-cefeef4 .elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-cefeef4 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #6E6E70;
}

.elementor-8 .elementor-element.elementor-element-cefeef4 .elementor-button:hover svg,
.elementor-8 .elementor-element.elementor-element-cefeef4 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-ec9ac8e .elementor-spacer-inner {
    height: 40px;
}

.elementor-8 .elementor-element.elementor-element-578bc32 {
    margin-top: -2.5%;
    margin-bottom: 0%;
    padding: 0px 0px 0px 0px;
    z-index: 101;
}

.elementor-8 .elementor-element.elementor-element-c9e4f05>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-b0f3c42>.elementor-container {
    max-width: 1200px;
}

.elementor-8 .elementor-element.elementor-element-b0f3c42 {
    margin-top: 0%;
    margin-bottom: 0%;
}

.elementor-8 .elementor-element.elementor-element-83823ba:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-8 .elementor-element.elementor-element-83823ba>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-83823ba>.elementor-element-populated,
.elementor-8 .elementor-element.elementor-element-83823ba>.elementor-element-populated>.elementor-background-overlay,
.elementor-8 .elementor-element.elementor-element-83823ba>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-8 .elementor-element.elementor-element-83823ba>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}

.elementor-8 .elementor-element.elementor-element-83823ba>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8 .elementor-element.elementor-element-bcaa6d1>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-22db563>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-65350ff {
    text-align: left;
}

.elementor-8 .elementor-element.elementor-element-a428f7c>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-menu {
    justify-content: flex-end !important;
}

.jet-desktop-menu-active .elementor-8 .elementor-element.elementor-element-de54e10 .jet-menu>.jet-menu-item {
    flex-grow: 0;
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-menu .jet-menu-item .top-level-link {
    font-family: "Poppins", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    margin: 0px 5px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-menu .jet-menu-item:hover>.top-level-link {
    color: hsl(240, 64%, 27%);
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-menu .jet-menu-item.jet-current-menu-item .top-level-link {
    color: hsl(240, 64%, 27%);
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-menu ul.jet-sub-menu {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #881719;
    margin: 15px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-menu li.jet-sub-menu-item .sub-level-link {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #DA1F26;
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-menu li.jet-sub-menu-item:hover>.sub-level-link {
    color: #DA1F26;
    background-color: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-mobile-menu__container {
    z-index: 999;
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-mobile-menu-widget .jet-mobile-menu-cover {
    z-index: calc(999-1);
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-mobile-menu__item .jet-menu-icon {
    align-self: center;
}

.elementor-8 .elementor-element.elementor-element-de54e10 .jet-mobile-menu__item .jet-menu-badge {
    align-self: flex-start;
}

@media(min-width:768px) {
    .elementor-8 .elementor-element.elementor-element-dc7ff52 {
        width: 40.439%;
    }
    .elementor-8 .elementor-element.elementor-element-3f0c310 {
        width: 15.964%;
    }
    .elementor-8 .elementor-element.elementor-element-af4376e {
        width: 18.553%;
    }
    .elementor-8 .elementor-element.elementor-element-8895750 {
        width: 61.404%;
    }
    .elementor-8 .elementor-element.elementor-element-a334afd {
        width: 23.947%;
    }
    .elementor-8 .elementor-element.elementor-element-55b2df9 {
        width: 14.198%;
    }
    .elementor-8 .elementor-element.elementor-element-22db563 {
        width: 18%;
    }
    .elementor-8 .elementor-element.elementor-element-a428f7c {
        width: 82%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-8 .elementor-element.elementor-element-3bae3d1 {
        width: 32%;
    }
    .elementor-8 .elementor-element.elementor-element-dc7ff52 {
        width: 20%;
    }
    .elementor-8 .elementor-element.elementor-element-3f0c310 {
        width: 23%;
    }
    .elementor-8 .elementor-element.elementor-element-af4376e {
        width: 25%;
    }
    .elementor-8 .elementor-element.elementor-element-8895750 {
        width: 54%;
    }
    .elementor-8 .elementor-element.elementor-element-a334afd {
        width: 23%;
    }
    .elementor-8 .elementor-element.elementor-element-55b2df9 {
        width: 23%;
    }
}

@media(max-width:1024px) {
    .elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(25px/2);
        margin-left: calc(25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-25px/2);
        margin-left: calc(-25px/2);
    }
    body.rtl .elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-25px/2);
    }
    body:not(.rtl) .elementor-8 .elementor-element.elementor-element-c066297 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(25px/2);
        margin-left: calc(25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-25px/2);
        margin-left: calc(-25px/2);
    }
    body.rtl .elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-25px/2);
    }
    body:not(.rtl) .elementor-8 .elementor-element.elementor-element-822e565 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-82bd2e6 .elementor-spacer-inner {
        height: 30px;
    }
    .elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(25px/2);
        margin-left: calc(25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-25px/2);
        margin-left: calc(-25px/2);
    }
    body.rtl .elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-25px/2);
    }
    body:not(.rtl) .elementor-8 .elementor-element.elementor-element-c07625c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-25px/2);
    }
    .elementor-8 .elementor-element.elementor-element-ec9ac8e .elementor-spacer-inner {
        height: 30px;
    }
}

@media(max-width:767px) {
    .elementor-8 .elementor-element.elementor-element-2a48e74 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 5px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-dc7ff52 {
        width: 50%;
    }
    .elementor-8 .elementor-element.elementor-element-6159892 .elementor-button {
        font-size: 11px;
    }
    .elementor-8 .elementor-element.elementor-element-3f0c310 {
        width: 50%;
    }
    .elementor-8 .elementor-element.elementor-element-55ce26f .elementor-button {
        font-size: 11px;
    }
    .elementor-8 .elementor-element.elementor-element-af4376e {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-82bd2e6 .elementor-spacer-inner {
        height: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-a8bd26d {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 5px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-a334afd {
        width: 50%;
    }
    .elementor-8 .elementor-element.elementor-element-55b2df9 {
        width: 50%;
    }
    .elementor-8 .elementor-element.elementor-element-ec9ac8e .elementor-spacer-inner {
        height: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-22db563 {
        width: 55%;
    }
    .elementor-8 .elementor-element.elementor-element-65350ff>.elementor-widget-container {
        padding: 0px 30px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-a428f7c {
        width: 45%;
    }
    .elementor-8 .elementor-element.elementor-element-de54e10 .jet-mobile-menu__toggle .jet-mobile-menu__toggle-icon i {
        font-size: 26px;
    }
    .elementor-8 .elementor-element.elementor-element-de54e10 .jet-mobile-menu__toggle .jet-mobile-menu__toggle-icon svg {
        width: 26px;
    }
}